In [26]:
print("Partie 1")
import pandas as pd
paris_listings = pd.read_csv('paris_airbnb.csv')
paris_listings.iloc[0]

Partie 1

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                 1.0
latitude                       48.83349
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                            0.0
bathrooms                           1.0
beds                                0.0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

In [30]:
import numpy as np
premier_logement = paris_listings['accommodates'].iloc[0]
first_distance = np.abs(premier_logement - 3)
print(f"Première distance Euclidienne: {first_distance}")

Première distance Euclidienne: 1

In [32]:
Series = paris_listings['accommodates'].apply(lambda x: np.abs(x - 3))
paris_listings['distance'] = Series
print(paris_listings[ 'distance'].head())

0    1
1    1
2    1
3    0
4    1
Name: distance, dtype: int32

In [34]:
distance_counts = paris_listings['distance'].value_counts()
distance_counts

distance
1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: count, dtype: int64

In [36]:
np.random.seed(1)
random_indices = np.random.permutation(paris_listings.index) 
random_indices

array([4740, 5606, 4824, ..., 3980,  235, 5157], dtype=int64)

In [63]:
paris_listings = paris_listings.loc[random_indices]
paris_listings

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
4740,NaN,NaN,1.0,48.83427,2.30214,Paris,75015,Île-de-France,3,Entire home/apt,3.0,1.0,2.0,$85.00,$25.00,$200.00,4,1125,8,0
5606,100%,NaN,836.0,48.86770,2.28888,Paris,75116,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$159.00,$20.00,$300.00,3,365,10,1
4824,33%,NaN,7.0,48.85706,2.38628,Paris,75011,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$100.00,$50.00,$500.00,30,305,1,1
4205,NaN,NaN,1.0,48.84469,2.28221,Paris,75015,Île-de-France,2,Private room,1.0,1.0,1.0,$71.00,$15.00,$200.00,1,7,0,1
3228,100%,NaN,1.0,48.85999,2.35576,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$125.00,$40.00,$350.00,5,400,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,100%,NaN,1.0,48.85222,2.36462,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$265.00,$60.00,$200.00,5,1125,44,1
5192,100%,NaN,1.0,48.85962,2.34592,Paris,75001,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$113.00,$60.00,$300.00,3,730,82,1
3980,NaN,NaN,1.0,48.88989,2.34713,Paris,75018,Île-de-France,1,Private room,1.0,1.0,1.0,$111.00,NaN,NaN,6,1125,1,2
235,NaN,NaN,1.0,48.86998,2.35834,Paris,75010,Ile-de-France,2,Private room,1.0,1.0,1.0,$190.00,NaN,NaN,3,7,0,1
5157,NaN,NaN,1.0,48.89167,2.32164,Paris,75017,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$75.00,$60.00,$150.00,4,14,0,0

In [38]:
paris_listings_sorted = paris_listings.sort_values(by='distance')
paris_listings_sorted['price'].head(10)

3020     $59.00
5251     $90.00
3203    $145.00
836      $30.00
4597     $80.00
6274     $58.00
842     $120.00
5246     $48.00
4601     $89.00
845     $200.00
Name: price, dtype: object

In [40]:
sup_commas = paris_listings['price'].str.replace(',', '')
sup_commas
sup_dollars = sup_commas.str.replace('$', '', regex=False)
sup_dollars

0        75.00
1       115.00
2       115.00
3        90.00
4        75.00
         ...
7995     55.00
7996     60.00
7997     60.00
7998     58.00
7999     40.00
Name: price, Length: 8000, dtype: object

In [42]:
paris_listings['price'] = sup_dollars.astype(float)
paris_listings['price']

0        75.0
1       115.0
2       115.0
3        90.0
4        75.0
        ...
7995     55.0
7996     60.0
7997     60.0
7998     58.0
7999     40.0
Name: price, Length: 8000, dtype: float64

In [44]:
mean_price = paris_listings['price'].head(5).mean()
mean_price

94.0

In [46]:
print("Partie 2")
def predict_price(new_listing):
    
 temp_df = paris_listings.copy()
 Series = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
 temp_df['distance'] = Series
 temp_df = temp_df.sort_values(by='distance')
 predicted_price = temp_df['price'].head(5).mean()
 return (predicted_price)

acc_one = predict_price(1)
print("Prix prédit pour 1 personne:", acc_one)

acc_two = predict_price(2)
print("Prix prédit pour 2 personnes:", acc_two)

acc_four = predict_price(4)
print("Prix prédit pour 4 personnes:", acc_four)

Partie 2
Prix prédit pour 1 personne: 60.2
Prix prédit pour 2 personnes: 77.8
Prix prédit pour 4 personnes: 110.6

In [ ]:
print("Partie 3")
import pandas as pd
import numpy as np
# Désactive les avertissements liés aux assignations chaînées dans le DataFrame,
# ce qui permet de modifier des sous-ensembles de données sans recevoir d'avertissements.
pd.options.mode.chained_assignment = None
np.random.seed(1)

train_df = paris_listings.iloc[0:6000]
test_df = paris_listings.iloc[6000:]

def predict_price(new_listing):
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values(by='distance')
    nearest_neighbor_prices = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbor_prices.mean()
    print("***")
    return(predicted_price)
# Appel de la fonction:
test_df['predicted_price'] =  test_df['accommodates'].apply(lambda x: predict_price(x))
print(test_df['predicted_price'])

In [ ]:
test_df['squared_error'] = (test_df['predicted_price'] - test_df['price']) ** 2
mse = test_df['squared_error'].mean()
print(mse)